<%- include('../partials/dashboard/header') %>

<main class="canned-response">
    <aside class="side-bar nav-adjust">
        <ul class="category">
            <% cannedResponses.forEach((cannedResponse) => { %>
                <li><a href="/responses/<%= cannedResponse.slug %>"><%= cannedResponse.name %></a></li>
            <% }) %>
        </ul>
        <div>
            <img class="logo" src="/images/logo-dark.png" width="113" height="113" alt="ReplyBot logo image">
            <p>©2026. Replybot</p>
        </div>
    </aside>

    <div class="nav-adjust">
        <div class="content-container">
            <div class="content-nav">
                <a href="/dashboard" title="Dasboard Home Page"><i class="fa-solid fa-house"></i></a> |
                <a href="/responses">Canned Responses</a> |
                <a><%= category.name %></a> |
                <!-- <button id="show-favorites">Show Favorites</button> -->
            </div>

            <div class="content">
                <% category.responses.forEach((response) => { %>
                    <div class="content-box">
                        <div class="shadow">
                            <p><%= response.text %></p>

                            <span class="button-container">
                                <button class="copy-btn">Copy</button>
                                <button class="favorite-btn">Add to Favorites</button>
                            </span>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/dashboard/footer') %>