<%- include('../partials/dashboard/header') %>

<main class="canned-response">
    <aside class="side-bar nav-adjust">
        <ul class="category">
            <li><a href="/responses">Canned Response</a></li>
            <li><a href="/suggestions">Suggestions</a></li>
            <li><a href="/tickets">Tickets</a></li>
            
            <% if (user && (user.roleName === 'admin' || user.roleName === 'vendor')) { %>
                <li><a href="/tickets/support">Support</a></li>
            <% } %>

            <% if (user && user.roleName === 'admin') { %>
                <li><a href="/suggestions/review">Review Suggestions</a></li>
            <% } %>

            <li><a href="/register/list">Users</a></li>
        </ul>

        <div>
            <img class="logo" src="/images/logo-dark.png" width="113" height="113" alt="ReplyBot logo image">
            <p>©2026. Replybot</p>
        </div>
    </aside>

    <div class="nav-adjust">
        <div class="content-container">
            <div class="content-nav">
                <a href="/dashboard"><i class="fa-solid fa-house"></i></a> |
                <a href="/tickets">Tickets</a> |
                <a href="" title="<%= title %>"><%= title %></a> |
            </div>

            <h1 class="header"><%= title %></h1>


            <% if (tickets && tickets.length > 0) { %>
                <div class="content users-list">
                    <% tickets.forEach(ticket => { %>
                        <div class="user-card content-box">
                            <h3><%= ticket.subject %></h3>
                            <p>Status: <strong><%= ticket.status %></strong></p>
                            <p>Created: <%= new Date(ticket.created_at).toLocaleDateString() %></p>
                            <a href="/tickets/<%= ticket.id %>">View Ticket</a>
                        </div>
                    <% }) %>
                </div>
            <% } else { %>
                <p>You have not created any tickets yet.</p>
            <% } %>

        </div>
    </div>
</main>

<%- include('../partials/dashboard/footer') %>